form(action="/api/productos" method="POST")
    input(type="title" name="title" placeholder="Ingrese titulo")
    input(type="price"  name="price" placeholder="Ingrese precio")
    input(type="thumbnail" name="thumbnail" placeholder="Ingrese url imagen")
    input(type="submit" value="Submit")
p="Puedes visualizar los productos:"
a(href='/productos')="Productos"